/* landing */

.landing {
	height: calc(100vh - 6rem);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
}

/* left column */

.landing .left-column {
	width: 50%;
	z-index: 1;
}

.landing .btns {
	display: flex;
	gap: 2rem;
}

.landing .arrow {
	margin-top: 2rem;
	margin-left: 8rem;
}

/* right column */

.landing .right-column {
	width: 50%;
}

.landing .right-column img {
	width: 100%;
}

.landing .left-column p {
	margin-top: 2rem;
	/* margin-bottom: 2rem; */
}

/* chevron */

.landing .chevron {
	align-self: flex-end;
	margin: auto 2rem 2rem 2rem;
}

/* sparkles */

.sparkle {
	position: absolute;
	z-index: 0;
}

.sparkle.purple-dot-big {
	left: 30%;
	top: 12%;
}

.sparkle.purple-dot-small {
	left: 44%;
	top: 70%;
}

.sparkle.orange-dot1 {
	left: 10%;
	top: 17%;
}

.sparkle.orange-dot2 {
	left: 34%;
	top: 85%;
}

.sparkle.orange-triangle {
	left: 40%;
	top: 28%;
}

@media only screen and (max-width: 1340px) {
	s .sparkle.orange-triangle {
		top: 37%;
	}
}

@media only screen and (max-width: 1190px) {
	.sparkle.orange-triangle {
		top: 23%;
	}
}

@media only screen and (max-width: 1065px) {
	.landing {
		flex-direction: column;
		height: auto;
		align-items: center;
		max-height: 900px;
	}

	.landing .right-column,
	.landing .left-column {
		width: 100%;
	}

	/* left column */

	.landing .left-column {
		order: 2;
		margin-top: 2rem;
	}

	.landing .left-column .btns {
		display: flex;
		justify-content: center;
	}

	.landing .left-column .arrow {
		position: relative;
		left: 25%;
	}

	/* right column */

	.landing .right-column {
		order: 0;
		display: flex;
		justify-content: center;
	}

	.landing .right-column img {
		height: 25rem;
		width: auto;
	}

	/* chevron */

	.landing .chevron {
		display: none;
	}

	/* sparkles */

	.sparkle.purple-dot-big {
		left: 75%;
		top: 32%;
	}

	.sparkle.purple-dot-small {
		left: 15%;
		top: 40%;
	}

	.sparkle.orange-dot2 {
		left: 84%;
		top: 45%;
	}

	.sparkle.orange-triangle {
		left: 75%;
		top: 18%;
	}
}

@media only screen and (max-width: 960px) {
	.landing .right-column img {
		height: 23rem;
	}
}

@media only screen and (max-width: 850px) {
	.landing .right-column img {
		height: 21rem;
	}

	.landing .left-column p {
		margin-top: 1rem;
		/* margin-bottom: 1rem; */
	}
}

@media only screen and (max-width: 750px) {
	.landing .left-column .btns {
		flex-direction: column;
		gap: 1rem;
		text-align: center;
	}

	.landing .left-column h1 {
		font: var(--font-h3);
	}

	.landing .left-column .arrow {
		left: 22%;
		margin-left: auto;
	}
}

@media only screen and (max-width: 570px) {
	.landing {
		max-height: none;
	}

	.landing .left-column {
		margin-top: 1rem;
	}

	.landing .right-column img {
		width: 60%;
		height: auto;
	}

	.landing .left-column .arrow {
		left: 12%;
		margin-left: auto;
	}
}
