.landing-phones {
	max-width: 60%;
	align-self: center;
}

.examples {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 2rem;
}

@media screen and (max-width: 1080px) {
	.examples {
		justify-content: center;
	}

	.landing-phones {
		max-width: 70%;
	}
}

@media screen and (max-width: 850px) {
	.landing-phones {
		max-width: 90%;
	}
}
