section.landing {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 0;
	padding-top: 0;
}

.breadcrumbs {
	font: var(--font-paragraph);
	font-weight: 500;
	margin-bottom: 1.5rem;
}

p {
	max-width: 60rem;
}

.tech-stack {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin-bottom: 2rem;
	list-style-type: none;
}

.tech-stack li {
	background: var(--color-black5);
	font-size: 1rem;
	line-height: normal;
	font-weight: 500;
	border-radius: 2rem;
	padding: 0.5rem 2rem;
	margin-bottom: 0;
}

.phone-mockup {
	max-height: 40rem;
}

.columns {
	display: flex;
	align-content: center;
	gap: 8rem;
}

.image-column {
	display: flex;
	align-items: center;
}

.link-with-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font: var(--font-paragraph);
	gap: 0.5rem;
	font-weight: 500;
	margin-bottom: 1.5rem;
}

.link-with-icon:hover svg.icon {
	fill: var(--color-secondary);
}

.links-one-row {
	display: flex;
	justify-content: flex-start;
	align-content: center;
	gap: 2rem;
}

@media screen and (max-width: 1040px) {
	.columns {
		flex-direction: column;
		gap: 2rem;
	}

	.image-column {
		align-self: center;
		order: 2;
	}

	.tech-stack {
		justify-content: center;
	}

	
}
