/* footer */

footer {
	background: var(--color-black5);
	padding: 2.5rem 0;
	font: var(--font-small);
}

footer a {
	color: var(--color-black);
}

footer .content,
footer .rights,
footer .navigation {
	display: flex;
	align-items: center;
}

footer .content {
	justify-content: space-between;
}

footer .rights {
	flex-direction: column;
	align-items: flex-start;
}

footer .navigation {
	gap: 2.5rem;
	list-style-type: none;
	font: var(--font-small);
}

footer .navigation li {
	margin: 0;
}

footer .navigation a {
	text-decoration: none;
	color: var(--color-black);
	font: var(--font-small);
	transition: all 0.3s ease;
}

footer .navigation a.active:hover {
	font-weight: bold;
	text-decoration: none;
}

footer .navigation a:hover {
	color: var(--color-secondary);
}

footer a {
	padding: 0;
}

@media screen and (max-width: 1300px) {
	footer .content {
		flex-direction: column;
		gap: 1.5rem;
	}

	footer .navigation {
		order: 0;
	}

	footer .rights {
		order: 3;
	}
}

@media screen and (max-width: 500px) {
	footer .navigation {
		flex-direction: column;
		gap: 1.5rem;
	}

	footer .rights {
		align-items: center;
	}

	footer .rights span {
		text-align: center;
	}
}
