/* nav */

header {
	padding-top: 2rem;
	margin-bottom: 2rem;
}

header nav {
	display: flex;
	align-items: center;
	height: 100%;
}

/* logo */

.logo {
	height: 2rem;
	z-index: 10;
	position: sticky;
}

.logo-container {
	display: flex;
	align-items: center;
}

#logo-white {
	display: none;
}

/* nav links */

.nav-links {
	display: flex;
	list-style-type: none;
	justify-content: space-around;
	align-items: center;
	margin-left: auto;
	z-index: 4;
}

.nav-links li {
	margin-bottom: 0;
	opacity: 0;
	transform: translateY(-1rem);
}

.nav-links li:nth-child(1) {
	transition: all 0.75s ease 0.15s;
}

.nav-links li:nth-child(2) {
	transition: all 0.75s ease 0.3s;
}

.nav-links li:nth-child(3) {
	transition: all 0.75s ease 0.45s;
}

.nav-links li:nth-child(4) {
	transition: all 0.75s ease 0.6s;
}

.nav-links li:nth-child(5) {
	transition: all 0.75s ease 0.75s;
}

li.fade-desktop {
	opacity: 1;
	transform: translateY(0);
}

.nav-links li a.link {
	text-decoration: none;
	font: var(--font-small);
	color: var(--color-black);
	margin-left: 2.5rem;
	transition: all 0.3s ease;
}

.nav-links li.contact-icons {
	margin-left: 2.5rem;
}

.nav-links li a.link:hover {
	color: var(--color-secondary);
}

.nav-links li a.link.active {
	font-weight: bold;
}

.nav-links li a.link.active:hover {
	text-decoration: none;
}

.nav-links li .btn-secondary {
	padding: 0.4rem 2rem;
}

.nav-links li a.link.btn-secondary:hover {
	text-decoration: none;
}

/* hamburger */
.hamburger {
	display: none;
}

/* mobile */
@media screen and (max-width: 768px) {
	svg.icon {
		height: 1.75rem;
	}

	/* nav */

	header {
		position: sticky;
		top: 0;
		width: 100%;
		z-index: 2;
		background: white;
		padding-top: 1rem;
		padding-bottom: 0.5rem;
	}

	nav {
		position: relative;
	}

	/* logo */

	#logo-white.nav-opened {
		display: inline-block;
	}

	#logo-black.nav-opened {
		display: none;
	}

	/* hamburger */

	.hamburger {
		position: absolute;
		display: inline;
		right: 5%;
		top: 50%;
		transform: translate(-5%, -50%);
		border: none;
		background: none;
		cursor: pointer;
		z-index: 10;
	}

	.hamburger svg {
		stroke: var(--color-black);
	}

	.hamburger[data-state="closed"] .line {
		animation: to-open-icon 1s forwards;
	}

	.hamburger[data-state="opened"] .line {
		animation: to-close-icon 1s forwards;
	}

	.hamburger .line.nav-opened {
		stroke: white;
	}

	.nav-links li.contact-icons svg {
		fill: white;
		height: 2rem;
		margin: 0.25rem;
	}

	.hamburger .top {
		--rotation: 45deg;
		transform-origin: 35px 40px;
		-webkit-transform-origin: 40px 50px;
	}

	.hamburger .bottom {
		--rotation: -45deg;
		transform-origin: 40px 55px;
		-webkit-transform-origin: 40px 55px;
	}

	@keyframes to-close-icon {
		0% {
			stroke-dashoffset: 0;
		}
		40% {
			stroke-dashoffset: 79.9;
		}
		60% {
			stroke-dashoffset: 79.9;
			rotate: var(--rotation);
			-webkit-transform: rotate(0.25turn);
		}
		100% {
			stroke-dashoffset: 0;
			rotate: var(--rotation);
			-webkit-transform: rotate(0.25turn);
		}
	}

	@keyframes to-open-icon {
		0% {
			stroke-dashoffset: 0;
			rotate: var(--rotation);
			-webkit-transform: rotate(0.25turn);
		}
		40% {
			stroke-dashoffset: 79.9;
			rotate: var(--rotation);
			-webkit-transform: rotate(0.25turn);
		}
		60% {
			stroke-dashoffset: 79.9;
		}
		100% {
			stroke-dashoffset: 0;
		}
	}

	/* nav links */

	.nav-links {
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding-top: 6rem;
		background: var(--color-primary);
		clip-path: circle(100px at 100% -20%);
		-webkit-clip-path: circle(100px at 100% -20%);
		transition: all 1s ease-out;
	}

	.nav-links.open {
		clip-path: circle(2000px at 90% -10%);
		-webkit-clip-path: circle(2000px at 90% -10%);
	}

	.nav-links li {
		opacity: 0;
		margin-top: 3rem;
		transform: translateX(-1.25rem);
		transform: translateY(0);
	}

	.nav-links li a.link {
		font-size: 1.5rem;
		color: white;
	}

	/* contact button */

	.nav-links .btn-secondary:hover {
		background: none;
	}

	li.fade {
		opacity: 1;
	}
}
