@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	/* color palette */
	--color-primary: #390da0;
	--color-primary-light: #e2ddec;
	--color-primary-washed: #5f3bb1;
	--color-secondary: #fc721a;
	--color-ternary: #ebf2fa;
	--color-black: #27252b;
	--color-black75: #5e5c61;
	--color-black50: #939295;
	--color-black25: #c9c9ca;
	--color-black10: #e9e9ea;
	--color-black5: #f4f4f4;
	--color-error: #e93269;

	/* typography */
	/* font: font-style weight size/line-height font-family */
	--font-h1: normal bold 5.5rem / normal "Roboto", sans-serif;
	--font-h2: normal bold 4.125rem / normal "Roboto", sans-serif;
	--font-h3: normal bold 3.125rem / normal "Roboto", sans-serif;
	--font-h4: normal bold 2.3125rem / normal "Roboto", sans-serif;
	--font-h5: normal bold 1.755rem / normal "Roboto", sans-serif;
	--font-paragraph: normal normal 21px / 37px "Poppins", sans-serif;
	--font-small: normal normal 18px / normal "Poppins", sans-serif;

	/* border radius */
	--radius-small: 6px;
}

body {
	font-family: "Poppins", sans-serif;
	color: var(--color-black);
}

.max-width {
	max-width: 1378px; /* 1378px + pr + pr = 1440px*/
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

/* general */

h1 {
	font: var(--font-h1);
}

h2 {
	font: var(--font-h2);
	margin-bottom: 1.5rem;
}

h3 {
	font: var(--font-h3);
	margin-bottom: 1.5rem;
}

p,
li {
	font: var(--font-paragraph);
	color: var(--color-black75);
	margin-bottom: 1.5rem;
}

section {
	margin: 10.5rem 0;
}

article {
	margin: 8rem 0;
}

a {
	color: var(--color-secondary);
	font-weight: 500;
}

a:visited {
	color: var(--color-primary);
}

/* buttons */

.btn {
	border: 3px solid var(--color-primary);
	padding: 0.5rem 3rem;
	border-radius: var(--radius-small);
	text-decoration: none;
	font: var(--font-paragraph);
}

.btn-secondary,
.nav-links li a.btn-secondary {
	color: var(--color-primary);
	transition: all 0.3s ease;
}

.btn-secondary:hover {
	background-color: var(--color-primary-light);
}

.btn-primary,
a:visited.btn-primary {
	color: white;
	background: var(--color-primary);
	transition: all 0.3s ease;
}

.btn-primary:hover {
	background: var(--color-primary-washed);
	border-color: var(--color-primary-washed);
}

@media only screen and (max-width: 1340px) {
	h1 {
		font: var(--font-h2);
	}

	h2 {
		font: var(--font-h3);
	}

	h3 {
		font: var(--font-h4);
	}

	p,
	li {
		font-size: 19px;
	}

	section {
		margin: 8rem 0;
	}

	article {
		margin: 6rem 0;
	}
}

@media only screen and (max-width: 750px) {
	h1 {
		font: var(--font-h3);
	}

	h2 {
		font: var(--font-h4);
	}

	h3 {
		font: var(--font-h5);
	}

	section {
		margin: 6rem 0;
	}

	article {
		margin: 4.5rem 0;
	}

	.btn {
		padding: 0.25rem 0;
	}
}

@media only screen and (max-width: 570px) {
	h2,
	h3 {
		margin-bottom: 1rem;
	}

	.max-width {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	p,
	li {
		font-size: 1rem;
		line-height: 1.75rem;
		margin-bottom: 1rem;
	}
}
